@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto_Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab Light";
  src: url("../fonts/Roboto-Slab-Light.eot");
  src: url("../fonts/Roboto-Slab-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Slab-Light.woff2") format("woff2"), url("../fonts/Roboto-Slab-Light.woff") format("woff"), url("../fonts/Roboto-Slab-Light.ttf") format("truetype"), url("../fonts/Roboto-Slab-Light.svg#Roboto_Slab_Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../fonts/Roboto-Slab-Bold.eot");
  src: url("../fonts/Roboto-Slab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Slab-Bold.woff2") format("woff2"), url("../fonts/Roboto-Slab-Bold.woff") format("woff"), url("../fonts/Roboto-Slab-Bold.ttf") format("truetype"), url("../fonts/Roboto-Slab-Bold.svg#Roboto_Slab_Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pier Sans Bold";
  src: url("../fonts/Pier-Sans-Bold.eot");
  src: url("../fonts/Pier-Sans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Pier-Sans-Bold.woff2") format("woff2"), url("../fonts/Pier-Sans-Bold.woff") format("woff"), url("../fonts/Pier-Sans-Bold.ttf") format("truetype"), url("../fonts/Pier-Sans-Bold.svg#Pier_Sans_Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fade {
  opacity: 50%;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}

.show {
  opacity: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 55.5%;
}

body {
  background-image: linear-gradient(to right bottom, #37cb99, #007fd4);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.items-select {
  font-size: 1.6rem;
  font-family: "Roboto Slab Bold";
  display: flex;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 40.625em) {
  .items-select {
    justify-content: space-between;
  }
  .items-select:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.items-select__label, .items-select__dropdown-placeholder {
  color: #888888;
}
.items-select__dropdown-placeholder {
  display: inline-block;
}
.items-select__label {
  text-transform: uppercase;
}
.items-select__dropdown-group {
  background-color: #EFF3F5;
  padding: 0.6rem 1rem;
  margin-left: 2rem;
  transition: all 0.4s;
  width: 12rem;
  position: relative;
}
.items-select__dropdown-group--active {
  cursor: pointer;
  background-color: #37CB99;
}
.items-select__dropdown-group--active > p {
  color: #fff;
}
.items-select__dropdown-group--active > span svg {
  fill: #fff;
}
.items-select__icon {
  position: absolute;
  right: 1rem;
}
.items-select__icon svg {
  fill: #888888;
  width: 1.5rem;
}

.dropdown {
  position: absolute;
  top: 3.4rem;
  right: 0;
  z-index: 300;
  min-width: 15rem;
  transition: all 0.4s;
  height: 10px;
  transform-origin: top right;
}

.dropdown-1 {
  font-family: "Roboto Slab Light";
  transition: all 0.4s;
}
.dropdown-1__list {
  background-color: #fff;
  padding: 0.5rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  color: #888888;
}
.dropdown-1__items {
  list-style: none;
  padding: 1.3rem;
  transition: all 0.4s;
}
.dropdown-1__items:hover {
  background-color: #37CB99;
  cursor: pointer;
  color: #fff;
}

.heading-primary {
  padding: 1rem 0;
  background-color: #014C40;
}
.heading-primary__heading {
  font-family: "Roboto Slab Bold";
  font-size: 3rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (max-width: 35em) {
  .heading-primary__heading {
    font-size: 2rem;
  }
}

.heading-super-big__heading {
  font-family: "Pier Sans Bold";
  font-size: 15rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (max-width: 34.375em) {
  .heading-super-big__heading {
    font-size: 11rem;
  }
}

.heading-tertiary__heading {
  font-family: "Roboto Light";
  font-size: 2.4rem;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 40.625em) {
  .heading-tertiary__heading {
    font-size: 2.1rem;
  }
}
@media only screen and (max-width: 34.375em) {
  .heading-tertiary__heading {
    font-size: 1.9rem;
  }
}
@media only screen and (max-width: 22.5em) {
  .heading-tertiary__heading {
    font-size: 1.5rem;
  }
}

.heading-secondary__heading {
  font-family: "Roboto Slab Bold";
  font-size: 4rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (max-width: 31.25em) {
  .heading-secondary__heading {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 22.5em) {
  .heading-secondary__heading {
    font-size: 2.5rem;
  }
}

.boxed-element-1 {
  background-color: #00E676;
  border: 1rem solid #4BAF50;
  padding: 2rem 0;
}
@media only screen and (max-width: 40.625em) {
  .boxed-element-1 {
    padding: 1rem 0;
  }
}

.boxed-element-2 {
  background-color: #00695C;
}

.boxed-element-2a {
  background-color: #009588;
}

.btn__btn-primary {
  border: none;
  font-family: "Roboto Slab Light";
  text-transform: uppercase;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0;
  font-size: 1.6rem;
  width: 100%;
  color: #00695C;
  background-size: 240%;
  background-position: 83%;
  transition: all 0.4s;
}
.btn__btn-primary:not(:last-child) {
  margin-bottom: 1.3rem;
}
@media only screen and (max-width: 37.5em) {
  .btn__btn-primary:not(:last-child) {
    margin-right: 1.3rem;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 40.625em) {
  .btn__btn-primary {
    font-size: 1.3rem;
  }
}
.btn__btn-primary-hover:hover {
  cursor: pointer;
  background-position: 0;
  color: #fff;
}
.btn__btn-new-game {
  background-image: linear-gradient(270deg, transparent 0%, transparent 50%, #4DD0E1 50%);
}
.btn__btn-roll-dice {
  background-image: linear-gradient(270deg, transparent 0%, transparent 50%, #F67C46 50%);
}
.btn__btn-hold-dice {
  background-image: linear-gradient(270deg, transparent 0%, transparent 50%, #37CB99 50%);
}

.dice-game__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  transition: all 0.4s;
}
@media only screen and (max-width: 25em) {
  .dice-game__wrapper {
    margin: 0;
  }
}
.dice-game__container {
  width: 95rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dice-game__initiators {
  display: flex;
  justify-content: center;
}
.dice-game__initiators-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  padding: 2rem;
}
@media only screen and (max-width: 40.625em) {
  .dice-game__initiators-wrapper {
    flex-direction: column;
    padding: 1rem;
  }
}
.dice-game__game-block {
  display: flex;
  position: relative;
}
.dice-game__game-block-wrapper {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .dice-game__game-block-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.dice-game__player-block {
  z-index: 100;
  transition: all 0.4s;
}
.dice-game__game-score-board {
  background-color: #4DD0E1;
  height: 45rem;
  position: relative;
}
@media only screen and (max-width: 40.625em) {
  .dice-game__game-score-board {
    height: 44rem;
  }
}
@media only screen and (max-width: 34.375em) {
  .dice-game__game-score-board {
    height: 40rem;
  }
}
@media only screen and (max-width: 25em) {
  .dice-game__game-score-board {
    height: 39rem;
  }
}
.dice-game__message-block {
  position: absolute;
  bottom: 13rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.4s;
}
@media only screen and (max-width: 40.625em) {
  .dice-game__message-block {
    bottom: 12rem;
  }
}
.dice-game__message-block-wrapper {
  width: 85%;
}
.dice-game__rolled {
  position: absolute;
  bottom: 9rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 40.625em) {
  .dice-game__rolled {
    bottom: 7rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .dice-game__rolled {
    bottom: 6rem;
  }
}
@media only screen and (max-width: 22.5em) {
  .dice-game__rolled {
    bottom: 5rem;
  }
}
.dice-game__player-current-score {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 40.625em) {
  .dice-game__player-current-score {
    bottom: 0;
  }
}
.dice-game__player-current-score-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
@media only screen and (max-width: 40.625em) {
  .dice-game__player-current-score-wrapper {
    width: 100%;
  }
}
.dice-game__player-current-score--label {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dice-game__player-current-score--number {
  width: 30%;
}
.dice-game__game-controls-block {
  background-color: #fff;
  z-index: 200;
  display: grid;
  padding: 0 2rem;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .dice-game__game-controls-block {
    position: absolute;
    top: 50.2rem;
    width: 100%;
    display: flex;
    padding: 0;
    height: 15rem;
  }
}
@media only screen and (max-width: 35em) {
  .dice-game__game-controls-block {
    top: 48.7rem;
  }
}
@media only screen and (max-width: 34.375em) {
  .dice-game__game-controls-block {
    top: 44.7rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .dice-game__game-controls-block {
    top: 44.8rem;
  }
}
@media only screen and (max-width: 25em) {
  .dice-game__game-controls-block {
    top: 43.8rem;
  }
}
.dice-game__dice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .dice-game__dice-container {
    width: 40%;
    display: flex;
    flex-direction: row;
    padding: 1.2rem;
    position: absolute;
    top: 0;
  }
}
@media only screen and (max-width: 34.375em) {
  .dice-game__dice-container {
    width: 44%;
  }
}
@media only screen and (max-width: 31.25em) {
  .dice-game__dice-container {
    width: 49%;
  }
}
@media only screen and (max-width: 28.125em) {
  .dice-game__dice-container {
    width: 54%;
  }
}
.dice-game__dice-item {
  width: 72%;
  transition: all 0.4s;
}
@media only screen and (max-width: 40.625em) {
  .dice-game__dice-item {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .dice-game__dice-item {
    width: 30%;
  }
}
.dice-game__rule-info {
  position: absolute;
  bottom: 43%;
  width: 100%;
  padding: 0 2rem;
}
@media only screen and (max-width: 40.625em) {
  .dice-game__rule-info {
    bottom: 40%;
  }
}
@media only screen and (max-width: 37.5em) {
  .dice-game__rule-info {
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2rem 1.2rem;
  }
}
.dice-game__rule-info-paragraph {
  font-size: 1.3rem;
  font-family: "Roboto Slab Light";
}
.dice-game__game-control-buttons {
  position: absolute;
  bottom: 2rem;
  padding: 0 2rem;
}
@media only screen and (max-width: 37.5em) {
  .dice-game__game-control-buttons {
    display: flex;
    top: 8.5rem;
    background: #fff;
    width: 100%;
    bottom: initial;
    padding: 1.5rem 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .player-1 {
    order: 1;
    position: absolute;
    left: 0;
    width: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  .player-2 {
    order: 2;
    position: absolute;
    right: 0;
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
