* { 
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after { 
    box-sizing: inherit; 
}
html {
    box-sizing: border-box;
    font-size: 55.5%;
}
body {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-2d, 1),
        rgba($color-1e, 1)
    );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

