@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.eot");
    src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Light.woff2") format("woff2"),
        url("../fonts/Roboto-Light.woff") format("woff"),
        url("../fonts/Roboto-Light.ttf") format("truetype"),
        url("../fonts/Roboto-Light.svg#Roboto_Light") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Slab Light";
    src: url("../fonts/Roboto-Slab-Light.eot");
    src: url("../fonts/Roboto-Slab-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Slab-Light.woff2") format("woff2"),
        url("../fonts/Roboto-Slab-Light.woff") format("woff"),
        url("../fonts/Roboto-Slab-Light.ttf") format("truetype"),
        url("../fonts/Roboto-Slab-Light.svg#Roboto_Slab_Light") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Slab Bold";
    src: url("../fonts/Roboto-Slab-Bold.eot");
    src: url("../fonts/Roboto-Slab-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Slab-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Slab-Bold.woff") format("woff"),
        url("../fonts/Roboto-Slab-Bold.ttf") format("truetype"),
        url("../fonts/Roboto-Slab-Bold.svg#Roboto_Slab_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Pier Sans Bold";
    src: url("../fonts/Pier-Sans-Bold.eot");
    src: url("../fonts/Pier-Sans-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Pier-Sans-Bold.woff2") format("woff2"),
        url("../fonts/Pier-Sans-Bold.woff") format("woff"),
        url("../fonts/Pier-Sans-Bold.ttf") format("truetype"),
        url("../fonts/Pier-Sans-Bold.svg#Pier_Sans_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}