.dice-game {
    &__wrapper {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        transition: all .4s;
        @include heightQuery(viewportHeight560) {
            margin-top: 0;
        }
    }
    &__container {
        width: 95rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__initiators {
        display: flex;
        justify-content: center;
    }
    &__initiators-wrapper {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        width: 100%;
        padding: 2rem;
        @include widthQuery(viewportWidth650) {
            flex-direction: column;
            padding: 1rem;
        }
    }
    &__game-block {
        display: flex;
        position: relative;
        &-wrapper {
            display: grid;
            grid-template-columns: 40% 20% 40%;
            width: 100%;
            position: relative;
            @include widthQuery(viewportWidth600) {
                display: flex;
                flex-direction: column;
            }
        }
    }
    &__player-block {
        z-index: 100;
        transition: all .4s;        
    }    
    &__game-score-board {        
        background-color: #4DD0E1;
        height: 45rem;
        position: relative;
        @include heightQuery(viewportHeight640) { height: 36rem; }
        @include heightQuery(viewportHeight600) { height: 33rem; }

        @include widthQuery(viewportWidth650) { height: 44rem; }        
        @include widthQuery(viewportWidth550) { height: 40rem; }
        @include widthQuery(viewportWidth400) { height: 39rem; }        
    }
    &__message-block {
        position: absolute;
        bottom: 13rem;
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all .4s;
        @include heightQuery(viewportHeight600) { bottom: 9rem; }

        @include widthQuery(viewportWidth650) { bottom: 12rem; }
        &-wrapper {
            width: 85%;                  
        }
    }
    &__rolled {
        position: absolute;
        bottom: 9rem;
        display: flex;
        justify-content: center;
        width: 100%;
        @include widthQuery(viewportWidth650) { bottom: 7rem; }
        @include widthQuery(viewportWidth500) { bottom: 6rem; }
        @include widthQuery(viewportWidth360) { bottom: 5rem; }
    }
    &__player-current-score {
        width: 100%;
        position: absolute;
        bottom: 2rem;
        display: flex;
        justify-content: center;
        @include widthQuery(viewportWidth650) {
            bottom: 0;
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
            width: 85%;
            @include widthQuery(viewportWidth650) {
                width: 100%;
            }
        }
        &--label {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--number {
            width: 30%;
        }
    }
    &__game-controls-block {
        background-color: #fff;
        z-index: 200;
        display: grid;
        padding: 0 2rem;
        position: relative;    
        @include heightQuery(viewportHeight640) { top: 40.8rem; }
        @include heightQuery(viewportHeight600) { top: 37.8rem; }

        @include widthQuery(viewportWidth600) {            
            position: absolute;
            top: 39.2rem;
            width: 100%;
            display: flex;
            padding: 0;
            height: 15rem;
        }                
        @include widthQuery(viewportWidth560) { top: 37.7rem; }
        @include widthQuery(viewportWidth500) { top: 37.9rem; }    
    }
    &__dice-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include widthQuery(viewportWidth600) {
            width: 40%;
            display: flex;
            flex-direction: row;
            padding: 1.2rem;
            position: absolute;
            top: 0;            
        }
        @include widthQuery(viewportWidth550) { width: 44%; }
        @include widthQuery(viewportWidth500) { width: 49%; }
        @include widthQuery(viewportWidth450) { width: 54%; }
    }
    &__dice-item {
        width: 72%;
        transition: all .4s;
        @include widthQuery(viewportWidth650) {
            width: 100%;
        }
        @include widthQuery(viewportWidth600) {
            width: 30%;
        }
    }
    &__rule-info { 
        position: absolute;
        bottom: 43%;
        width: 100%;
        padding: 0 2rem;
        @include widthQuery(viewportWidth650) {
            bottom: 40%;
        }
        @include widthQuery(viewportWidth600) {
            width: 60%;
            position: absolute;
            top: 0;
            right: 0;
            padding: 1.2rem 1.2rem;
        }
        &-paragraph {
            font-size: 1.3rem;
            font-family: "Roboto Slab Light";            
        }
    }
    &__game-control-buttons {
        position: absolute;
        bottom: 2rem;
        padding: 0 2rem;
        @include heightQuery(viewportHeight600) { top: 7.5rem; }
        
        @include widthQuery(viewportWidth600) {
            display: flex;
            top: 8.5rem;
            background: #fff;
            width: 100%;
            bottom: initial;
            padding: 1.5rem 1.5rem;
        }        
    }
}
.player-1 {
    @include widthQuery(viewportWidth600) {
        order: 1;
        position: absolute;
        left: 0;
        width: 50%;
    }
}
.player-2 {
    @include widthQuery(viewportWidth600) {
        order: 2;
        position: absolute;
        right: 0;
        width: 50%;
    }
}